services:
  backend:
    image: zasviat/ispend:latest
    depends_on:
      - postgres
    ports:
      - "8000:8000"
    env_file:
      - .env.docker

  postgres:
    image: postgres:16-alpine
    env_file:
      - .env.docker
    ports:
      - "5432:5432"
    volumes:
      - postgresql_data:/var/lib/postgresql/data

volumes:
  postgresql_data:
